:root {
    --font-main: "Inter", sans-serif;
    --font-mono: "Roboto Mono", monospace;
    --color-black: #000;
    --color-dark: #18181b;
    --color-white: #fff;
    --color-gray-light: #f4f4f5;
    --color-gray-dark: #e4e4e7;
    --color-gray-text: #71717a;
    --color-gray-border: #a1a1aa;
    --color-green: #00a587;
    --color-green-dark: #002e30;
    --color-green-light: #99dbcf;
    --color-green-lighter: #e5f7f4;
    --color-error: #FEE;
    --color-error-text: #991B16;
  }

html {
  font-family: var(--font-main);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
body {
  margin: 0;
  padding-bottom: 114px;
}

header {
  display: flex;
  position: sticky;
  top:0;
  height: 40px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-dark);
  background-color: var(--color-white);
  margin-bottom: 40px;
}
p{
    padding: 0;
    margin: 0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-black);
  font-size: 16px;
  line-height: 28px; /* 175% */
}
.github {
  display: flex;
  height: 32px;
  padding: 0px 16px 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--color-gray-border);
  background: var(--color-white);
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.02),
    0px 1px 1px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.github:hover {
  border-radius: 6px;
  border: 1px solid var(--color-gray-border);
  background: var(--color-gray-light);
  box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.02),
    0px 1px 1px 0px rgba(0, 0, 0, 0.06);
}
.github a{
    text-decoration: none;
    color: unset;
}
.chat_container {
  display: flex;
  width: 776px;
  padding-top: 14px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  margin: 0 auto;
}

.line {
  background: var(--color-gray-dark);
  width: 288px;
  height: 1px;
}

.new_session {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  color: var(--color-dark);
  text-align: center;
  font-family: var(--font-mono);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.log {
  color: var(--color-gray-text);
  text-align: center;
  font-family: var(--font-mono);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 107.143% */
  align-self: stretch;
}
.message {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  color: var(--color-dark);
  /* p */
}
.message .message_content {
  display: flex;
  max-width: 700px;
  padding: 6px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  flex: initial;
  margin: 0;
  font-size: 16px;
  line-height: 28px;
}

.message.assistant .message_content {
  background: var(--color-gray-light);
}

.message.loading .message_content {
    background: var(--color-gray-light);
  }
.message.user {
  justify-content: end;
}
.message.user .message_content {
  padding: 6px 10px;
  background: var(--color-green-lighter);
}
.message.error .message_content {
  padding: 6px 10px;
  background: var(--color-error);
  color: var(--color-error-text);
}


pre{
    margin-top: 4px;
    background-color: var(--color-green-dark);
    color: var(--color-green-light);
    width: calc(100% - 16px);
    padding: 8px;
    border-radius: 6px;
}
code{
    font-family: var(--font-mono);
    white-space:pre-wrap;
    border: solid 1px var(--color-green);
    background-color: var(--color-green-light);
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
}
pre code{
    font-size: 14px;
    border: 0;
    background-color: var(--color-green-dark);
    color: var(--color-green-light);
    padding:0;
    font-size: 14px;
}
.input_area_holder {
  position: fixed;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 20px;
  bottom: 0px;
  background: var(--color-white);
}
.input_area {
  position: relative;
  margin: 0 auto;
  width: 712px;
  padding: 10px 52px 10px 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--color-gray-dark);
  background-color: var(--color-white);
}

.send_button {
  display: flex;
  position: absolute;
  height: 32px;
  width: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--color-green);
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  border: 0;
  outline: none;
}
.send_button:hover {
  background: var(--color-green-dark);
}
.send_button:disabled {
  background: var(--color-green-light);
  cursor: not-allowed;
}
.expandable-textarea {
  display: block;
  font-family: var(--font-main);
  min-height: 32px;
  max-height: 190px;
  color: var(--color-dark);
  font-size: 16px;
  line-height: 32px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  resize: none;
}
.expandable-textarea:focus-visible {
  outline: none;
}
[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block;
  color: var(--color-gray-text);
}

#wave {
	position:relative;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}
#wave .dot {
    display:inline-block;
    width:5px;
    height:5px;
    border-radius:50%;
    margin-right:3px;
    background:var(--color-dark);
    animation: wave 1.3s linear infinite;
}

#wave .dot:nth-child(2) {
    animation-delay: -1.1s;
}

#wave .dot:nth-child(3) {
    animation-delay: -0.9s;
}
.spin{
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-10px);
	}
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}